*
{
    font-family: 'Cairo', sans-serif;
    font-weight: bold !important
}
body
{
    background: #2f3640 !important;
}
form 
{
    justify-content: center;
    margin-top: 50px;
}
#myInput
{
    width: 500px;
}
#addBtn
{
    width: 100%;
}
.calculations
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #636e72;
    padding: 15px;
    margin: 15px 0;
}
.calculations .taskContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.calculations .numOfTasks,
.calculations .numOfFinishedTasks
{
    padding: 7px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 100%;
    font-weight: bold;
    color: #f5f6fa;
}
.calculations span{
    color: #f5f6fa;
    font-weight: bold;
}
.numOfTasks
{
    background: #00a8ff; 
}
.numOfFinishedTasks
{
    background: #e84118
}
#tasksPackage
{
    display: flex;
    justify-content: center;
}
.task
{
    display: flex;
    justify-content: center;
    align-items: center;
    place-content: space-between;
    padding: 10px;
    background: #EEE;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 50%;
}
.taskText
{
    width: 70%;
}
.finished
{
    opacity: .4;
    transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
}